*	{
 background:url(../img/Menu.jpg);
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
label{
	  font-size:12px;
	  font-family: Comic Sans MS;
	  display:block;
	  width:100%;
	 }
	 
textarea{
		height:200px;
		}

input, textarea{
	  margin-bottom:20px;
	  width: 90%;
	  padding:10px;
	  border: 2px solid #ccc;
	  font-family: Comic Sans MS;
	 }
	 
input:focus, textarea:focus{
			border:2px solid #1668C4;
		   }
		   
input[type="submit"]{
	margin-bottom:0;
	background:#1668C4;
	color:#fff;
	border:none;
	width: 95%;
}

input[type="submit"]:hover{
	background:#4A88F4;
	cursor:pointer;
}